@import url('../colour.css');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Oxanium:wght@400;500;600;700;800&display=swap');
html,
body {
  height: 100%;
}
body {
  background-image: url('../assets/images/others/mainPageBGR.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.wrapper {
  font-family: 'Oswald', sans-serif;
  height: 100%;
}
.contentContainer {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.mainQuote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40%;
}
.mainQuote div:first-child {
  margin-right: 40px;
}
.title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20%;
  font-size: 40px;
  color: var(--white);
}
.disclaimer {
  font-size: 20px;
  letter-spacing: 3px;
  color: var(--red);
  font-weight: medium;
  margin-top: 50px;
  margin-bottom: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
section {
  height: 100vh;
  position: relative;
  top: -90px;
}
.About {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.About .contentContainer {
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.Releases {
  display: flex;
  flex-direction: column;
}
.gameRelease {
  text-align: left;
  margin-bottom: 60px;
}
.gameRelease,
.developerItem,
.developerName {
  font-family: 'Oxanium', sans-serif;
  font-size: 35px;
  color: var(--white);
}
.developerName {
  font-weight: medium;
}
.ReleaseInfo {
  display: flex;
  flex-direction: row;
}
.ReleaseInfo:first-child {
  margin-bottom: 30px;
}
.data {
  color: var(--white);
  font-size: 30px;
  margin-right: 40px;
}
.logo {
  display: flex;
  flex-direction: column;
}
.logo svg {
  height: 30px;
  text-align: left;
}
.logo svg:first-child {
  margin-bottom: 20px;
}
.developers {
  margin-top: 60px;
}
.developers div {
  display: flex;
  flex-direction: row;
}
.developerItem {
  margin-right: 20px;
}

.gameDesc {
  font-size: 28px;
  color: var(--white);
  font-weight: 100;
  width: 60%;
  text-align: left;
  max-width: 900px;
  line-height: 1.4;
  letter-spacing: 1.5px;
  margin-top: 40px;
}
.gameDesc p:nth-child(2n) {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mainQuote svg,
.outlaws svg {
  width: 100%;
}

/* some animation */

.wrapper {
  filter: grayscale(0);
  transition: all 1s ease;
}
.wrapper.active {
  filter: grayscale(1);
}
/* .more {
  transform: translateY(150px);
  opacity: 0;
  transition: all 1s ease;
}
.more.active {
  transform: translateY(0px);
  opacity: 1;
} */
@media (max-width: 360px) {
  .gameDesc {
    width: 90%;
  }
}
@media (max-width: 520px) {
  .mainQuote {
    display: flex;
    flex-direction: column;
  }
  .outlaws {
    margin-bottom: 30px;
  }
  .developers {
    margin-top: 0;
  }
  .title {
    font-size: 30px;
  }
  .disclaimer {
    font-size: 16px;
  }
  .gameDesc p {
    font-size: 20px;
  }
  .gameDesc {
    width: 90%;
  }
  .ReleaseInfo {
    display: flex;
    flex-direction: column;
    /* align-items:center; */
  }
  .ReleaseInfo div:last-child {
    margin-top: 20px;
  }
}
@media (max-width: 610px) {
  .gameRelease {
    font-size: 30px;
  }
  .data {
    font-size: 24px;
  }
  .logo svg {
    height: 20px;
  }
  .developerItem,
  .developerName {
    font-size: 24px;
  }
  .developers div {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .developers div:first-child {
    margin-bottom: 20px;
  }
}
@media (max-width: 620px) {
  .outlaws svg {
    height: 64px;
  }
  .forLife svg {
    height: 46px;
  }
}
@media (max-width: 680px) {
  .outlaws {
    margin-right: 0 !important;
  }
  .outlaws svg {
    height: 64px;
  }
  .forLife svg {
    height: 46px;
  }
  .gameDesc {
    width: 90%;
  }
}
@media (max-width: 730px) {
  .mainQuote {
    display: flex;
    flex-direction: column;
  }
  .outlaws {
    margin-bottom: 30px;
  }
  .gameDesc {
    width: 90%;
  }
}
@media (max-width: 1020px) {
  .mainQuote {
    display: flex;
    flex-direction: column;
  }
  .outlaws {
    margin-bottom: 30px;
  }
  .gameDesc {
    width: 90%;
  }
}
@media (max-width: 1280px) {
  .mainQuote {
    display: flex;
    flex-direction: column;
  }
  .outlaws {
    margin-bottom: 30px;
  }
  .About .contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .gameDesc {
    margin-bottom: 40px;
  }
}
@media (min-width: 1281px) {
  .contentContainer {
    display: flex;

    z-index: 2;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline !important;
  }
}
